/* global style */

body {
  background-color: #fff7e6;
  font-family: 'Righteous', cursive;
  /* font-family: 'Open Sans', sans-serif; */
}
button, select, h1, .radio {
  background-color: white;
}

button, select {
  border: solid 1px black;
  box-shadow: 3px 5px;
  margin: 10px;
}

h1, h2, #human-player {
  font-family: 'Righteous', cursive;
}

#human-player {
  font-family: Gallia;
  color: #B88846;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

h1 {
  font-size: 130px;
  border: solid 3px black;
  box-shadow: 7px 15px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.center-div {
  text-align: center;
}
#warning {
  color: #b30000;
  font-style: bold;
  font-size: 120%;
}


#intro-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#intro-page p {
    text-align: justify;
    text-indent: 2rem;
}

#initial-form {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-template-rows: 15rem 15rem 4rem;
    grid-row-gap: 1rem;
    grid-column-gap: 4rem;
}

#initial-form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0;
    border-radius: 10px;
}
#initial-form label img{
    max-height: 100%;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 0;
}
#initial-form label h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

#initial-form input {
    display: none;
}
#initial-form button {
    position: relative;
    width: 20rem;
    grid-column: 1 / 4;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid black;
    box-shadow: 3px 5px;
}
#initial-form button:hover {
    box-shadow: 1px 3px;
    left: 2px;
    top: 2px;
}

#white:hover {

}
#blue:hover {

}
#green:hover {

}
#purple:hover {
    background-color: rgb(230, 213, 228);
    border-color: rgb(142, 69, 133);
}

#yellow:hover {

}
#red:hover {

}

.white-select {

}
.blue-select {

}
.green-select {

}
.purple-select {

}
.yellow-select {

}
.red-select {

}

/*gameboard*/

.wrapper {
  display: grid;
  grid-gap: 10px;;
  grid-template-columns: 64% 35%;
  color: #444;
}

.box {
  position: relative;
  background-color: #00004d;
  color: #fff7e6;
  border-radius: 5px;
  padding: 20px;
}

.box button {
  border-radius: 2px;
  border: solid 1px black;
  box-shadow: none;
}

#inquiry-form {
  padding-top: 40px;
}

#room {
    position: relative;
    grid-column: 1 ;
    grid-row: 2 ;
    font-family: Gallia;
    font-size: 200%;
    text-align: center;
    color: #B88846;
    padding: 100px 0;
    border: solid #00004d;
}
#room h2 {
  display: block;
  font-family: Gallia;
  font-size: 140%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 60px;
  border: 45px solid  #4d2600;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

#room img {
  position: absolute;
  right:0;
  bottom: 0;
  width: 70px;
  height: auto;
}

#button-door {
  cursor: pointer;
}

/* room colors */
.study {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROVRcHS5HJTMjMV2sbhlRLcx0BR8U3UFIxqIzVN-YYbpPx307e&s");
}
.study h2 {
    background-color: #e69d00;
    color: #4d2600;
}

.library {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLfcSC75Q68yjnAVgYeS_eGFhAkjMKPUkB8i50wtHpGgMenEX0&s");
}
.library h2 {
  background-color: #800000;
}

.lounge {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSGKAL2btcXNZd2bW8wrQ78UQrUls78keDZZ8BkCR3RTdtrJU-&s");
}
.lounge h2 {
  background-color: #b30059;
}

.billiard-room {
  background-image: url("https://cdn11.bigcommerce.com/s-c1tzcg0txe/images/stencil/1280x1280/products/3139/3648/ozonepark_2464_447168417__26512.1490639053.jpg?c=2&imbypass=on");
}
.billiard-room h2 {
  background-color: #004d00;
}

.hall {
  background-image: url("https://floorsystemsme.com/wp-content/uploads/2017/07/BMH-Vintage-1300_lg-e1501680750959-1024x706.jpg");
}
.hall h2 {
  background-color: #660000;
}

.dining-room {
  background-image: url("https://beautifullinens.com/wp-content/uploads/2019/08/Modespitze-Plauen-MORITZBURG-White-Embroidered-Lace-Square-Tablecloth-Table-Topper-38in-96cm-Main-600x448.jpg");
}
.dining-room h2 {
  background-color: #99ccff;
}

.conservatory {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ37GjfM_CVPzcxUA3cpEBzU56gWHmPBQ4aRULnL9dgYDUv9beMuQ&s");
}
.conservatory h2 {
  background-color: #ccccff;
}

.ballroom {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStGhQQlPDjfBrTKTlgyPO_Q78lLijyDtZAzXXKnmjkOOa6iaJSaQ&s");
}
.ballroom h2 {
  background-color: #993333;
}

.kitchen {
  background-image: url("https://images.homedepot-static.com/productImages/a8c1cf48-a8e8-446d-9779-a42ec30933bf/svn/arthouse-wallpaper-664802-64_300.jpg");
}
.kitchen h2 {
  background-color: #ffdb4d;
}
/* end room colors */
.message-board {
  grid-column: 2 span 2;
  grid-row: 2 / span 1;
}
.bottom-buttons {
  grid-column: 1 / span 3;
  grid-row: 3 ;
  background-color: #00004d;
  color: #fff7e6;
}

.bottom-buttons button {
  background-color: #00004d;
  color: #fff7e6;
  border: none;
  font-size: 125%;
}

.ask-button button {
  background-color: #B88846;
  color: #fff7e6;
  border: none;
  font-size: 125%;
}

.fancy-border {
  border: 45px solid  #4d2600;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

/* player-clues div */

#player-clues-deck {
  margin-top: 3em;
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 100px;
  text-align: center;
  justify-items: center;
}

.display-card {
  /* width: 30%; */
}

.display-card img {
  max-width: 100%;
  height: auto;
}
